#gallery {
    display: flex;
    flex-flow: row wrap;
}

@media screen and (min-width: 768px) {
    #gallery {
        background: #F7F7F7;
        border-radius: 25px;
        padding: 30px 25px;
    }    
}

@media screen and (min-width: 1024px) {
    #gallery {
        padding: 55px 50px;
    }    
}