#carousel {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gallery-control {
    --padding-space: 6px; 
    position: absolute;
    width: calc(100% - (2*var(--padding-space)));
    height: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--padding-space);
}

#gallery-control img {
    width: 12px;
    height: 20px;
}

#gallery-control:hover {
    background: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.15) 15%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.15) 85%, rgba(0,0,0,0.3) 100%);
}

#gallery-control img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (min-width: 768px) {

    #carousel {
        height: 350px;
        margin-bottom: 30px;
        border-radius: 25px;
    }

    #gallery-control {
        --padding-space: 20px; 
    }

    #gallery-control img {
        width: 30px;
        height: 55px;
    }
}

@media screen and (min-width: 1024px) {

    #carousel {
        height: 415px;
    }

    #gallery-control img {
        width: 45px;
        height: 80px;
    }
}