#page-not-found {
    margin: 180px;
    width: calc( 100% - 80px);
    color: var(--primary-color);
    text-align: center;
}

#page-not-found h1 {
    font-size: 96px;
    margin: 0;
}

#page-not-found p {
    font-size: 18px;
    margin-bottom: 120px;
}

#page-not-found a {
    font-size: 14px;
    color: var(--primary-color);
}

@media screen and (min-width: 768px) {

    #page-not-found {
        margin: 10px;
    }
    
    #page-not-found h1 {
        font-size: 200px;
    }
    
    #page-not-found p {
        font-size: 26px;
    }
    
    #page-not-found a {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {

    #page-not-found {
        margin: 80px;
    }
    
    #page-not-found h1 {
        font-size: 288px;
    }
    
    #page-not-found p {
        font-size: 36px;
    }
    
    #page-not-found a {
        font-size: 18px;
    }
}