.App {
  --primary-color: #FF6060;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

main {
  --main-content-padding: 20px;
  --site-width: 1400px;
  width: calc(100% - (2*var(--main-content-padding)));
  max-width: var(--site-width);
}

a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  main {
    --main-content-padding: 50px;
  }
}

@media screen and (min-width: 1024px) {
  main {
    --main-content-padding: 100px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
